* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Basic style and utilities=========================================== */
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1110px;
  margin-top: 100px;
}
/* header start============================= */
header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
nav > ul {
  display: flex;
}
nav > ul li {
  list-style: none;
  margin-right: 34px;
}
/* hero start=========================== */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero {
  padding: 50px 120px;
}
.hero-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}
.hero-details h1 {
  font-size: 52px;
}
.hero-img img {
  background-image: url(./../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.hero-button {
  padding: 10px 24px;
  background: #e02c6d;
  display: inline-block;
  margin-top: 16px;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
}
.hero-button .fas {
  margin-left: 8px;
}
/* hero End=========================== */
/* Brand start=========================== */
.brands {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
/* Brand End=========================== */
/* Collection Start=========================== */
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 74px;
}
.collection {
  border-radius: 5px;
  padding: 17px 15px;
  margin: 30px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.collection-img img {
  width: 100%;
}
.collection-heading {
  font-size: 28px;
  font-weight: 500;
}
.collection-price {
  font-size: 24px;
}
.ratings {
  font-size: 14px;
}
.ratings .fas {
  color: #fb8200;
}
.see-more a {
  color: #e02c6d;
  float: right;
}
/* Collection End=========================== */
/* Popular Click Start========================= */
.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.photo-details {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.photo-details .photo img {
  width: 100%;
}
.photo-info {
  position: absolute;
  top: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  transition: all 0.6s ease-in-out;
  padding: 30px;
  padding-top: 100px;
}
.photo-details:hover .photo-info {
  top: 0%;
  left: -10px;
}
/* Popular Click End========================= */
/* Footer Start========================= */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin-top: 50px;
  background-color: rgb(23, 23, 88);
  color: #fff;
}
.footer-icon {
  display: flex;
  justify-content: center;
}
.footer-icon .icon i {
  border-radius: 50%;
  padding: 10px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
/* Footer End========================= */
